/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

p {
    margin: 20px 0;
}

.btn-login {
    margin: 0px auto 0px auto;
    display: block;
    width: 100%;
}

.img-align {
    background: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bg-default-color {
    background: white;
}


#login-centre {
    display: none;
}

#login-box {
    float: none !important;
    margin: 0px auto ;
}
